.howitworks {
    &__title {
        @include text-font;
        padding: 1rem;
        margin: 1em 0;
    }
    &__card {
        margin: 1em 1.5em;
        background-color: $clr-primary-light;
        padding: 1.75em;
        display: flex;
        align-content: center;
        border-radius: 1em;
        box-shadow: 0 0.3em 0.5em #96969638;
        &:hover {
            background-color: darken($clr-primary-light, 2%);
        }
        &:hover > .howitworks__icon {
            color: $clr-primary;
        }
    }
    &__step {
        @for $i from 1 through 3 {
            &--#{$i} {
                position: absolute;
                width: 1.2rem;
                height: 1.2rem;
                background-color: $clr-primary;
                left: 1em;
                border-radius: 4em;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                @include text-font;
                font-size: 12px;
            }
        }
    }
    &__icon {
        display: flex;
        margin: auto 0;
        color: #969696;
    }
    &__text {
        @include text-font;
        font-weight: 600;
        margin: 0 1.5em;
    }
}
