@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
@import "./sass/utils/variables";
@import "./sass/utils/mixins";


html, body {
    margin: 0;
    padding: 0;
}

.homeloader {
    height: inherit;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 2;
    animation: loaded 10ms 0ms both;
    &__bar {
        width: 30%;
        height: 0.5%;
        background-color: $clr-primary;
        position: absolute;
        left: 35%;
        animation: homeload 500ms linear 4 both alternate;
        
        &--1 {
            top: 10%;
        }
        &--2 {
            top: 15%;
        }
        &--3 {
            top: 20%;
        }
    }
}


.header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0px;
    box-shadow: 0 0.1em 0.1em #96969680;
    background-color: white;
    z-index: 2;
    &__text {
        @include title-font;
        margin: 0.3em 0;
    }
}

.location {
    display: flex;
    justify-content: center;
    background-color: #e4e4e4;
    &__dot {
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            width: 1em;
        }
    }
    &__text {
        @include text-font;
        font-size: 0.85em;
        padding: 0.5em 2em;
    }
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 2em 0;
    &__title {
        @include text-font;
        font-size: 1.5em;
    }
    &__text {
        @include text-font;
        font-weight: 400;
        width: 80%;
        text-align: center;
        letter-spacing: 0.03em;
    }
    &__button {
        margin: 0.75em 0;
        padding: 1.1em 2em;
        @include text-font;
        font-size: 1em;
        font-weight: 500;
        border-radius: 2em;
        border: none;
        box-shadow: 0 0.4em 0.9em #969696b7;
        color: white;
        &--gradient {
            background-image: linear-gradient(to bottom right, $clr-secondary, $clr-primary);
        }
    }
}

.howitworks {
    &__title {
        @include text-font;
        padding: 1rem;
        margin: 1em 0;
    }
    &__card {
        margin: 1em 1.5em;
        background-color: $clr-primary-light;
        padding: 1.75em;
        display: flex;
        align-content: center;
        border-radius: 1em;
        box-shadow: 0 0.3em 0.5em #96969638;
        &:hover {
            background-color: darken($clr-primary-light, 2%);
        }
        &:hover > .howitworks__icon {
            color: $clr-primary;
        }
    }
    &__step {
        @for $i from 1 through 3 {
            &--#{$i} {
                position: absolute;
                width: 1.2rem;
                height: 1.2rem;
                background-color: $clr-primary;
                left: 1em;
                border-radius: 4em;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                @include text-font;
                font-size: 12px;
            }
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        color: #969696;
    }
    &__text {
        @include text-font;
        font-weight: 600;
        margin: 0 1.5em;
    }
}

.restaurants {
    background-color: #f1f1f1;
    &__title {
        @include text-font;
        margin: 0;
        padding: 2em 0 0.5em 1em;
        font-weight: 900;
    }
}

.rest__link {
    text-decoration: none;
}

.restcards {
    margin: 0;
    padding: 1em;
    &__card {
        border-radius: 1em;
        margin-bottom: 1.2em;
        box-shadow: 0 0.2em 0.5em #96969638;
        width: 100%;
        height: 16em;
        @include text-font;
        text-decoration: none;
        color: black;
        &__img {
            width: 100%;
            object-fit: cover;
            height: 70%;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;            
        }
        &__context {
            display: flex;
            justify-content: space-between;
        }
        &__text {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0;
        }
        &__title {
            padding: 0.5em 1rem 0.2em 1rem;
            margin: 0;
            font-weight: 700;
            display: inline-block;
        }
        &__location {
            padding: 0em 1rem;
            margin: 0;
            display: inline-block;
        }
        &__hearts {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 2em;
        }
        &__heart {
            &--empty {
                position: absolute;
                z-index: 2;
                &:hover {
                    opacity: 0;
                }
                &:hover + .restcards__card__heart--full {
                    animation: favorite 200ms forwards;
                }
            }
            &--full {
                position: absolute;
                z-index: 1;
                transform: scaleY(0);
                &::before {
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-image: linear-gradient(to bottom, $clr-primary, $clr-secondary);
                    color: transparent;
                }
            }
        }
        &--new {
            margin: 1em;
            position: absolute;
            z-index: 1;
            right: 1em;
            background-color: $clr-tertiary;
            text-align: center;
            color: $clr-tertiary-dark;
            letter-spacing: 1%;
            padding: 0.5em 2em;
            border-radius: 0.1em;
        }
    }
}

@keyframes favorite {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes loaded {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(9999px);
    }
}

@keyframes homeload {
    0% {
        transform: scaleX(100%);
        transform: scaleY(100%);
        opacity: 80%;
        
    }
    25% {
        transform: scaleX(80%);
        transform: scaleY(200%);
        opacity: 85%;
        
    }
    50% {
        transform: scaleX(60%);
        transform: scaleY(250%);
        opacity: 90%;
        
    }
    75% {
        transform: scaleX(40%);
        transform: scaleY(300%);
        opacity: 95%;
    }
    100% {
        transform: scaleX(20%);
        transform: scaleY(400%);
        opacity: 100%;
    }
}

@keyframes gradualfill {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}