@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/layout/header";
@import "./sass/layout/location";
@import "./sass/layout/explore";
@import "./sass/layout/howitworks";

html, body {
    margin: 0;
    padding: 0;
}

.homeloader {
    height: 100%;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 3;
    animation: loaded 10ms 1900ms both;
    &__bar {
        width: 30%;
        height: 0.5%;
        background-color: $clr-primary;
        position: absolute;
        left: 35%;
        animation: homeload 500ms linear 4 both alternate;
        
        &--1 {
            top: 10%;
        }
        &--2 {
            top: 15%;
        }
        &--3 {
            top: 20%;
        }
    }
}

.restaurants {
    background-color: #f1f1f1;
    &__title {
        @include text-font;
        margin: 0;
        padding: 2em 0 0.5em 1em;
        font-weight: 900;
    }
}

.rest__link {
    text-decoration: none;
}

.restcards {
    margin: 0;
    padding: 1em 1em 2.5em 1em;
    &__card {
        border-radius: 1em;
        margin-bottom: 1.2em;
        box-shadow: 0 0.2em 0.5em #96969638;
        width: 100%;
        height: 16em;
        @include text-font;
        text-decoration: none;
        color: black;
        &__img {
            width: 100%;
            object-fit: cover;
            height: 70%;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;            
        }
        &__context {
            display: flex;
            justify-content: space-between;
        }
        &__text {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0;
        }
        &__title {
            padding: 0.5em 1rem 0.2em 1rem;
            margin: 0;
            font-weight: 700;
            display: inline-block;
        }
        &__location {
            padding: 0em 1rem;
            margin: 0;
            display: inline-block;
        }
        &__hearts {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 2em;
        }
        &__heart {
            &--empty {
                position: absolute;
                z-index: 1;
                &:hover {
                    opacity: 0;
                }
                &:hover + .restcards__card__heart--full {
                    animation: favorite 200ms forwards;
                }
            }
            &--full {
                position: absolute;
                z-index: 0;
                transform: scaleY(0);
                &::before {
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-image: linear-gradient(to bottom, $clr-primary, $clr-secondary);
                    color: transparent;
                }
            }
        }
        &--new {
            margin: 1em;
            position: absolute;
            z-index: 1;
            right: 1em;
            background-color: $clr-tertiary;
            text-align: center;
            color: $clr-tertiary-dark;
            letter-spacing: 1%;
            padding: 0.5em 2em;
            border-radius: 0.1em;
        }
    }
}

.footer {
    color: white;
    background-color: #383838;
    margin: 0;
    padding: 1em;
    line-height: 0.5em;
    &__label {
        @include title-font;
        letter-spacing: 1px;
        font-weight: 400;
        padding-bottom: 0.75em;
    }
    &__context {
        @include text-font;
    }
    &__contact {
        text-decoration: none;
        color: white;
    }
}

// Individual Restaurant Pages

.rest {
    background-color: #f1f1f1;
    padding-bottom: 3em;
    &__img {
    width: 100%;
    object-fit: cover;
    height: 15em;
    }
    &__menu {
        background-color: #f1f1f1;
        height: 100%;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25em 1em 0 1em;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        z-index: 1;
        background-color: #f1f1f1;
        position: relative;
        bottom: 2em;
    }
    &__name {
        font-size: 2rem;
        font-weight: 400;
    }
    &__heart {
        position: absolute;
        left: 85%;
        &--empty {
            z-index: 1;
            &:hover {
                animation: disappear 200ms both;
            }
            &:hover + .rest__heart--full {
                animation: favorite 200ms forwards;
            }
        }
        &--full {
            z-index: 0;
            transform: scale(0);
            &::before {
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(to bottom, $clr-primary, $clr-secondary);
                color: transparent;
            }
        }
    }
}

.menu {
    padding: 0 1em 1em 1em;
    animation: menuload 500ms ease-out both;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: $menu-anim-delay * $i;
        }
    }
    &__title {
        margin: 0;
        @include text-font;
        color: #696969;
        font-size: 1.1em;
        font-weight: 400;
        letter-spacing: 0.5px;
        padding-bottom: 0.5em;
        &::before {
            content: '';
            background-color: $clr-tertiary;
            width: 2.5em;
            height: 3px;
            display: inline-block;
            position: absolute;
            top: 1.3em;
        }
    }
    &__card {
        margin: 1em 0;
        background-color: white;
        border-radius: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        @include shadow;
        &--normal {
            height: 5em;
        }
        &--tall {
            height: 6em;
        }
        &__context {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0 0.5em;
            @include text-font;
            height: 65%;
            width: 100%;
        }
        &__title {
            margin: 0;
            padding-bottom: 0.25em;
        }
        &__desc {
            margin: 0;
            font-weight: 300;
            font-size: 0.95em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            animation: defaultdescwidth 750ms both;
        }
        &__pricecheck {
            display: flex;
            align-self: flex-end;
            height: 100%;
        }
        &__price {
            margin: 0;
            padding: 1em;
            font-weight: 800;
            @include text-font;
            align-self: flex-end;
            position: absolute;
            right: 1em;
            animation: defaultprice 750ms both alternate;
        }
        &__check {
            transform: scaleX(0);
            background-color: $clr-tertiary;
            align-self: center;
            height: 100%;
            display: flex;
            justify-content: center;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            width: 3.5em;
            transform-origin: right;
            animation: defaultcheck 750ms both alternate;
        }
        &__checkmark {
            color: white;
            align-self: center;
        }
        &:hover .menu__card__check {
            animation: menuitem 750ms both alternate;
        }
        &:hover .menu__card__price {
            animation: pricemove 750ms both alternate;
        }
        &:hover .menu__card__checkmark {
            animation: checkmark 500ms both alternate;
        }
        &:hover .menu__card__desc {
            animation: descwidth 750ms both;
        }
    }
}

.order {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    padding-bottom: 4em;
    &__btn {
        height: 3em;
        width: 12em;
        border: none;
        background-image: linear-gradient(to bottom, $clr-secondary, $clr-primary);
        border-radius: 2em;
        @include text-font;
        font-size: 1.25em;
        color: white;
        box-shadow: 0 0.2em 0.5em #969696;
        &:hover {
            animation: btnhover 100ms both alternate;
            box-shadow: 0 0.2em 0.75em #969696;
        }
    }
}

.tep {
    &__header {
        font-size: 1.85em;
        width: 75%;
    }
}

@keyframes descwidth {
    0% {
        width: 90%;
    }
    100% {
        width: 75%;
    }
}

@keyframes defaultdescwidth {
    0% {
        width: 75%;
    }
    100% {
        width: 90%;
    }
}

@keyframes btnhover {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.9;
        transform: scale(1.01);
    }
}

@keyframes defaultcheck {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

@keyframes menuload {
    0% {
        transform: translateY(2em);
        opacity: 0;
    }
    85%, 100% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pricemove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-3.5em);
    }
}

@keyframes defaultprice {
    0% {
        transform: translateX(-3.5em);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes checkmark {
    0% {
        transform: rotate(0);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(-90deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(-180deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(-270deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(-360deg);
        animation-timing-function: ease-out;
    }
}

@keyframes menuitem {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes favorite {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loaded {
    0% {
        z-index: 3;
    }
    100% {
        z-index: -2;
    }
}

@keyframes homeload {
    0% {
        transform: scaleX(100%);
        transform: scaleY(100%);
        opacity: 80%;
        
    }
    25% {
        transform: scaleX(80%);
        transform: scaleY(200%);
        opacity: 85%;
        
    }
    50% {
        transform: scaleX(60%);
        transform: scaleY(250%);
        opacity: 90%;
        
    }
    75% {
        transform: scaleX(40%);
        transform: scaleY(300%);
        opacity: 95%;
    }
    100% {
        transform: scaleX(20%);
        transform: scaleY(400%);
        opacity: 100%;
    }
}

@keyframes gradualfill {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}