@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/layout/header";
@import "./sass/layout/location";
@import "./sass/layout/explore";
@import "./sass/layout/howitworks";

html, body {
    margin: 0;
    padding: 0;
}

.homeloader {
    height: 100%;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 3;
    animation: loaded 10ms 1900ms both;
    &__bar {
        width: 30%;
        height: 0.5%;
        background-color: $clr-primary;
        position: absolute;
        left: 35%;
        animation: homeload 500ms linear 4 both alternate;
        
        &--1 {
            top: 10%;
        }
        &--2 {
            top: 15%;
        }
        &--3 {
            top: 20%;
        }
    }
}

.restaurants {
    background-color: #f1f1f1;
    &__title {
        @include text-font;
        margin: 0;
        padding: 2em 0 0.5em 1em;
        font-weight: 900;
    }
}

.rest__link {
    text-decoration: none;
}

.restcards {
    margin: 0;
    padding: 1em 1em 2.5em 1em;
    &__card {
        border-radius: 1em;
        margin-bottom: 1.2em;
        box-shadow: 0 0.2em 0.5em #96969638;
        width: 100%;
        height: 16em;
        @include text-font;
        text-decoration: none;
        color: black;
        &__img {
            width: 100%;
            object-fit: cover;
            height: 70%;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;            
        }
        &__context {
            display: flex;
            justify-content: space-between;
        }
        &__text {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0;
        }
        &__title {
            padding: 0.5em 1rem 0.2em 1rem;
            margin: 0;
            font-weight: 700;
            display: inline-block;
        }
        &__location {
            padding: 0em 1rem;
            margin: 0;
            display: inline-block;
        }
        &__hearts {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 2em;
        }
        &__heart {
            &--empty {
                position: absolute;
                z-index: 1;
                &:hover {
                    opacity: 0;
                }
                &:hover + .restcards__card__heart--full {
                    animation: favorite 200ms forwards;
                }
            }
            &--full {
                position: absolute;
                z-index: 0;
                transform: scaleY(0);
                &::before {
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-image: linear-gradient(to bottom, $clr-primary, $clr-secondary);
                    color: transparent;
                }
            }
        }
        &--new {
            margin: 1em;
            position: absolute;
            z-index: 1;
            right: 1em;
            background-color: $clr-tertiary;
            text-align: center;
            color: $clr-tertiary-dark;
            letter-spacing: 1%;
            padding: 0.5em 2em;
            border-radius: 0.1em;
        }
    }
}

.footer {
    color: white;
    background-color: #383838;
    margin: 0;
    padding: 1em;
    line-height: 0.5em;
    &__label {
        @include title-font;
        letter-spacing: 1px;
        font-weight: 400;
        padding-bottom: 0.75em;
    }
    &__context {
        @include text-font;
    }
    &__contact {
        text-decoration: none;
        color: white;
    }
}

.rest__img {
    width: 100%;
    object-fit: cover;
}

@keyframes favorite {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes loaded {
    0% {
        z-index: 3;
    }
    100% {
        z-index: -2;
    }
}

@keyframes homeload {
    0% {
        transform: scaleX(100%);
        transform: scaleY(100%);
        opacity: 80%;
        
    }
    25% {
        transform: scaleX(80%);
        transform: scaleY(200%);
        opacity: 85%;
        
    }
    50% {
        transform: scaleX(60%);
        transform: scaleY(250%);
        opacity: 90%;
        
    }
    75% {
        transform: scaleX(40%);
        transform: scaleY(300%);
        opacity: 95%;
    }
    100% {
        transform: scaleX(20%);
        transform: scaleY(400%);
        opacity: 100%;
    }
}

@keyframes gradualfill {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}