$clr-primary:#9356DC;
$clr-primary-light: lighten($clr-primary, 38%);
$clr-secondary:#FF79DA;
$clr-secondary-light: lighten($clr-secondary, 23%);
$clr-tertiary:#99E2D0;
$clr-tertiary-dark: darken($clr-tertiary, 37%);
$num-rests: 4;